@font-face {
    font-family: 'Fraunces-VariableFont_SOFT,WONK,opsz,wght';
    src: url(/font/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
    font-family: 'Montserrat-VariableFont_wght';
    src: url(/font/Montserrat-VariableFont_wght.ttf);
}
body{
    height: 100vh;
    font-family: 'Montserrat-VariableFont_wght';
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
p {
    margin: 0px;
    color: hsl(228, 12%, 48%);
}
h1{
    margin: 0px;
    font-family: 'Fraunces-VariableFont_SOFT,WONK,opsz,wght';
    line-height: 34px;
    font-size: 34px;
}
.perfume-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.perfume-image{
    height: 400px;
    width: 290px;
    border-radius: 12px 0px 0px 12px;
}
.perfume{
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 0px 12px 12px 0px;
    height: 400px;
    padding: 0px 40px 0px 30px;
}
.perfume p{
    margin: 12px 0px;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: left; 
    gap: 20px;
    font-family: 'Fraunces-VariableFont_SOFT,WONK,opsz,wght';
    align-items: center;
}
button{
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 15px 20px;
    font-weight: bold;
    color: white;
    background-color: hsl(158, 36%, 37%);
    border-radius: 8px;
    margin-top: 10px;
}
